.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Increased padding for better spacing */
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:last-child {
  margin-right: 20px; /* Add margin to the right side of the last link */
}

.nav-links a:hover {
  text-decoration: underline;
}
